// styling show car
.box{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border:1px solid gray;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  border-radius: 10px;
  padding: 30px;
  margin: 70px;
  height: 500px;
  position: relative;
  .first-box{
    width: 30%;
    img{
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }
    h5{
      padding-top: 10px;
    }
    p{
      padding-top: 10px;
    }
  }
  .second-box{
    width: 50%;
    .small-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.update-btn{
 background-color: rgb(44, 59, 222);
 color:white;
 border:none;
 border-radius: 6px;
 padding: 6px 20px;
 position: absolute;
 top: 550px;
 right: 1095px;
 text-decoration: none;
 &:hover{
  background-color: rgb(9, 26, 218);
  color:white;
 }
}
.delete-btn{
  background-color: rgb(44, 59, 222);
  color:white;
  border:none;
  border-radius: 6px;
  padding: 6px 20px;
  position: absolute;
  top: 550px;
  right: 90px;
  text-decoration: none;
  &:hover{
    background-color: rgb(9, 26, 218);

  }
}
// reservation in show car
.big-div{
  display:flex;
  justify-content: center;
  .div-reservation{
    border: 1px solid rgb(178, 176, 176);
    background-color: white;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    padding: 30px;
    margin-bottom: 30px;
    .home-submit{
      background-color: white;
      border:rgb(44, 59, 222) 1px solid;
      color:rgb(44, 59, 222);
      border-radius: 4px;
      width: 530px;
      height: 35px;
      margin-left:15px;
      &:hover{
      background-color: rgb(44, 59, 222);
      border:none;
      color:white;
      }
    }
  }
}
// styling show reservation
.contain{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px 30px;
  position: relative;
  .first{
    width: 30%;
  }
  .reservation{
    width: 40%;
    padding-top: 40px;
  }
}
.delete-resa{
  background-color: rgb(44, 59, 222);
  color:white;
  border:none;
  border-radius: 6px;
  padding: 6px 20px;
  position: absolute;
  top: 370px;
  right: 90px;
  text-decoration: none;
  &:hover{
    background-color: rgb(9, 26, 218);

  }
}
.info-car{
  img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding-bottom: 5px;
  }
  h5{
    padding-top: 15px;
  }
}
.confirm{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  button{
  padding: 10px 30px;
  border:none;
  background-color: rgb(44, 59, 222);
  color:white;
  border-radius: 10px;
  }
}
// styling popup
.popup{
  width:400px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top:50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
}
.popup img{
  width: 100px;
  margin-top:-50px;
  border-radius:50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup .style-btn{
  width: 100%;
  margin-top: 50px;
  padding: 8px;
  background-color: #4e9a06;
  color: #fff;
  border:0;
  outline:none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
